<ul class="d-flex justify-content-center">
  <form action="/restaurants" method="POST">
    <li class="p-2"><input name="name" type="text" placeholder="中文餐廳名"></li>
    <li><input name="name_en" type="text" placeholder="英文餐廳名"></li>
    <li><input name="category" type="text" placeholder="餐廳類型"></li>
    <li><input name="image" type="text" placeholder="餐廳圖片"></li>
    <li><input name="location" type="text" placeholder="餐廳位置"></li>
    <li><input name="phone" type="text" placeholder="餐廳聯絡電話"></li>
    <li><input name="google_map" type="text" placeholder="餐廳位置"></li>
    <li><input name="rating" type="text" placeholder="餐廳評價"></li>
    <li><input name="description" type="text" placeholder="餐廳描述"></li>
    <button type="submit">新增</button>
  </form>
</ul>
